body {
  font-family: 'Roboto', sans-serif;
  //background-color: #050b19;
  background-color: black;
  color: white;
  position: relative;
}

a:hover{
  text-decoration: none;
}

.welcome-container {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  position: relative;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   not supported by any browser */
  .video-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    video {
      position: absolute;
      left: 0;
      top: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .overlay-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: white;
    line-height: 25px;
    .logo-container {
      img {
        max-width: 80vw;
      }
    }
    .description-container {
      font-size: 15px;
      font-weight: 500;
      margin-top: 8px;
      display: inline-block;
    }
    .sign-container {
      color: gray;
      text-align: right;
      font-size: 12px;
      font-weight: 500;
    }
    a{
      &:hover{
        color: white;
      }
    }
  }
}

.main-page-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dark-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  &.with-dots{
    background-position: left top;
    background-repeat: repeat;
    background-image: url(../img/retina-layer.png);
    background-image: -webkit-image-set(url(../img/retina-layer.png) 1x, url(../img/retina-layer@2x.png) 2x);
  }
  &.with-gradient {
    &::after {
      width: 100%;
      height: 60vh;
      content: '';
      display: block;
      left: 0;
      bottom: -2px;
      position: absolute;
      z-index: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0); /* IE6-9 */
    }
  }
}

.main-header-menu {
  position: relative;
  &:before,
  &:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &:after {
    clear: both;
  }
  & {
    zoom: 1; /* IE < 8 */
  }
}

.navbar-active-indicator-container {
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4px;
  .navbar-active-indicator {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white;
    border-radius: 3px;
  }
}

.header-container {
  background-color: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-bottom: 2px solid #222222;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  z-index: 100;
  top: 0px;
  box-shadow: 0px 0px 40px 10px black;
  .main-header-logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .navbar-nav {
    > li {
      &.active{
        > a{
          color: white;
          font-weight: bold;
        }
      }
      > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 80px;
        color: gray;
        &:hover {
          color: white;
          background: none;
        }
      }
    }
  }
}

.full-width-section{
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  background-size: cover;
  position: relative;
  padding: 20px 0 100px 0;
  &.about-section{
    background-position: center top;
    background-size: contain;
    background-image: url(../img/about-section-bg.jpg);
    background-image: -webkit-image-set(url(../img/about-section-bg.jpg) 1x, url(../img/about-section-bg@2x.jpg) 2x);
    text-shadow: 0px 1px 1px black;
    p{
      color: lightgray;
      + h2{
        margin-top: 40px;
      }
    }
  }
}
textarea,
input{
  color: black;
}

.light-title{
  font-weight: 100;
}

h1{
  font-size: 60px;
}
h2.light-title{
  font-weight: 300;
}

.profiles-list{
  list-style: none;
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  font-size: 0;
  .profile{
    display: inline-block;
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    margin: 10px;
    .profile-container{
      .profile-avatar{
        overflow: hidden;
        border-radius: 50%;
        width: 80px;
        position: relative;
        margin: auto;
        margin-bottom: 15px;
        img{
          width: 100%;
        }
      }
      .profile-name{
        font-size: 16px;
        font-weight: 500;
      }
      .job-name{
        font-size: 12px;
        font-weight: 300;
        color: gray;
      }
    }
  }
}

.main-page-footer-section{
  padding: 30px 0;
  background-color: #050b19;
  border-top: 2px solid #222222;
  box-shadow: inset 0 40px 40px -40px black;
  .row-footer-top{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.25em;
    p{
      margin-top: 20px;
    }
  }
  .copyright-footer-row{
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
  }
  .contacts-footer-row{
    font-size: 20px;
    font-weight: 100;
    line-height: 1.25em;
    margin-bottom: 40px;
    color: gray;
  }
  .row-hr{
    height: 4px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.1);
    margin: 40px 0;
  }
}

.scroll-down-indicator{
  animation-delay: 4s;
  animation-duration: 3s;
  cursor: pointer;
  .bounce {
    position: absolute;
    bottom: 30px;
    left: 50% ;
    width: 60px;
    height: 60px ;
    margin-left:-30px;
    border-radius:50%;
    animation: bounce 2s infinite;
  }
  &:active{
    opacity: .5;
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .fa {
    width: 60px;
    display: block;
    text-align: center;
    color:white;
    font:normal 45px 'FontAwesome';
    line-height:60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  .fa-angle-double-down:before {content: "\f103";}
}

.blog-article-list{
  padding: 0;
  list-style: none;
  .blog-article-element{
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    .blog-article-container{
      line-height: 1.4;
      .blog-article-date{
        font-style: italic;
        font-weight: 100;
        white-space: nowrap;
      }
      h1{
        font-size: 20px;
        margin-bottom: 10px;
      }
      .read-all-link{
        white-space: nowrap;
      }
    }
  }
}

.blog-article-container{

}