{% extends "base.html.twig" %}

{% block title %}Homa page{{ parent() }}{% endblock %}
{% block body_classes %}home-page {{ parent() }}{% endblock %}

{% block pre_body %}
    <div class="welcome-container">
        <div class="video-layer">
            <video autoplay loop muted>
                <!-- MP4 must be first for iPad! -->
                <source src="{{ asset('banner.mov') }}" type="video/mp4"/><!-- Safari / iOS video    -->
                <!--<source src="loop-hd.webm" type="video/webm" /> -->
            </video>
        </div>
        <div class="dark-layer with-gradient with-dots"></div>
        <div class="overlay-container">
            <div class="logo-container">
                <img src="{{ asset('img/steviostudio-logo-white-400.png') }}"
                     srcset="{{ asset('img/steviostudio-logo-white-400.png') }} 1x, {{ asset('img/steviostudio-logo-white-400@2x.png') }} 2x"
                     alt="Stevio Studio">
            </div>
            <div class="description-container">
                Produzione, Post-produzione e Web Development dal 2009
                <div class="sign-container">
                    di Cristoforo Cervino
                </div>
            </div>
            <div class="button-options">
                <div class="btn-group" data-toggle="buttons">
                    <a href="{{ path("about_index") }}" class="btn btn-lg">Informazioni</a>
                    <a href="#" class="btn btn-lg">Show Reel</a>
                </div>
            </div>
        </div>
        <div class="scroll-down-indicator animated fadeIn">
            <div class="bounce"><i class="fa fa-angle-double-down"></i></div>
        </div>
    </div>
{% endblock %}

{% block full_width_body %}
    {% include ':about:about_section.html.twig' %}
    {% include ':blog:blog_section.html.twig' %}
{% endblock %}
