{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogarticles list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Slug</th>
                <th>Article</th>
                <th>Imageasseturl</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogArticle in blogArticles %}
            <tr>
                <td><a href="{{ path('blogarticle_show', { 'id': blogArticle.id }) }}">{{ blogArticle.id }}</a></td>
                <td>{{ blogArticle.title }}</td>
                <td>{{ blogArticle.subTitle }}</td>
                <td>{{ blogArticle.slug }}</td>
                <td>{{ blogArticle.article }}</td>
                <td>{{ blogArticle.imageAssetUrl }}</td>
                <td>{% if blogArticle.created %}{{ blogArticle.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if blogArticle.updated %}{{ blogArticle.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blogarticle_show', { 'id': blogArticle.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blogarticle_edit', { 'id': blogArticle.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogarticle_new') }}">Create a new blogArticle</a>
        </li>
    </ul>
{% endblock %}
