{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogarticle</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogArticle.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blogArticle.title }}</td>
            </tr>
            <tr>
                <th>Subtitle</th>
                <td>{{ blogArticle.subTitle }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ blogArticle.slug }}</td>
            </tr>
            <tr>
                <th>Article</th>
                <td>{{ blogArticle.article }}</td>
            </tr>
            <tr>
                <th>Imageasseturl</th>
                <td>{{ blogArticle.imageAssetUrl }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if blogArticle.created %}{{ blogArticle.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if blogArticle.updated %}{{ blogArticle.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogarticle_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blogarticle_edit', { 'id': blogArticle.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
