<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} - Stevio Studio {% endblock %}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicons/apple-touch-icon.png' | asset_version) }}">
    <link rel="icon" type="image/png" href="{{ asset('favicons/favicon-32x32.png' | asset_version) }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ asset('favicons/favicon-16x16.png' | asset_version) }}" sizes="16x16">
    <link rel="manifest" href="{{ asset('favicons/manifest.json' | asset_version) }}">
    <link rel="mask-icon" href="{{ asset('favicons/safari-pinned-tab.svg' | asset_version) }}" color="#337ab7">
    <link rel="shortcut icon" href="{{ asset('favicons/favicon.ico' | asset_version) }}">
    <meta name="msapplication-config" content="{{ asset('favicons/browserconfig.xml' | asset_version) }}">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/steviostudio7.css' | asset_version) }}">
    {% endblock %}
</head>
<body class="{% block body_classes %}page{% endblock %}">
{% block pre_body %}{% endblock %}
{% block page_header %}
    <div class="header-container">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-header-logo pull-left">
                        <a href="{{ path("homepage") }}">
                            <img src="{{ asset('img/steviostudio-logo-white-240.png') }}"
                                 srcset="{{ asset('img/steviostudio-logo-white-240.png') }} 1x, {{ asset('img/steviostudio-logo-white-240@2x.png') }} 2x"
                                 alt="Stevio Studio">
                        </a>
                    </div>
                    <div class="main-header-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li class="{% if app.request.attributes.get('_route') == 'homepage' %}active{% endif %}"><a
                                        href="{{ path("homepage") }}">Home page</a></li>
                            <li class="{% if app.request.attributes.get('_route') == 'about_index' %}active{% endif %}">
                                <a href="{{ path("about_index") }}">Informazioni</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li class="{% if app.request.attributes.get('_route') == 'blogarticle_index' %}active{% endif %}">
                                <a href="{{ path("blogarticle_index") }}">Blog</a></li>
                            <li><a href="#">Contatti</a></li>
                            <li><a href="#">Show Reel</a></li>
                        </ul>
                        <div class="navbar-active-indicator-container">
                            <div class="navbar-active-indicator"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block full_width_body %}
    <div class="container main-page-container">
        <div class="row">
            <div class="col-md-12">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <section class="main-page-footer-section full-width-section">
        <div class="container">
            <div class="row row-facebook-likes">
                <div class="col-md-12">
                    <div class="fb-like" data-href="https://www.facebook.com/StevioStudio" data-send="true"
                         data-width="900" data-show-faces="true" data-font="arial" data-action="recommend"></div>
                </div>
            </div>
            <div class="row row-footer-top">
                <div class="col-md-12 text-center">
                    <a href="{{ path("homepage") }}">
                        <img src="{{ asset('img/steviostudio-logo-white-240.png') }}"
                             srcset="{{ asset('img/steviostudio-logo-white-240.png') }} 1x, {{ asset('img/steviostudio-logo-white-240@2x.png') }} 2x"
                             alt="Stevio Studio">
                    </a>
                    <p>
                        Stevio Studio è un marchio ideato da Cristoforo Cervino.<br/>
                        Produzione, post-produzione di materiali audio visivi e Web Development dal 2009.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="profiles-list">
                        <li class="profile">
                            <div class="profile-container">
                                <div class="profile-avatar">
                                    <img src="{{ asset('img/avatar-cristoforo-cervino-500.jpg') }}"
                                         alt="Cristoforo Cervino">
                                </div>
                                <div class="job-name">
                                    Full Stack Web Developer & Video maker freelance
                                </div>
                                <div class="profile-name">
                                    Cristoforo Cervino
                                </div>
                                <div class="social-links">
                                    <a href="https://it.linkedin.com/in/cristoforocervino" target="_parent"><i
                                                class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row row-hr"></div>
            <div class="row contacts-footer-row">
                <div class="col-md-12 text-center">
                    Seguici su <a href="#">Twitter</a>, <a href="#">Facebook</a> e <a href="#">Youtube</a>.<br/>
                    Per domande, informazioni e preventivi, scrivi a <a href="mailto:info@steviostudio.it">info@steviostudio.it</a>.
                </div>
            </div>
            <div class="row copyright-footer-row">
                <div class="col-md-12 text-center">
                    Copyright 2009-{{ "now"|date("Y") }} Stevio Studio. P.IVA: 07640230723.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/site.js' | asset_version) }}"></script>
{% endblock %}
</body>
</html>
