{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portfolioelements list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolioElement in portfolioElements %}
            <tr>
                <td><a href="{{ path('admin_portfolioelement_show', { 'id': portfolioElement.id }) }}">{{ portfolioElement.id }}</a></td>
                <td>{{ portfolioElement.slug }}</td>
                <td>{{ portfolioElement.title }}</td>
                <td>{% if portfolioElement.created %}{{ portfolioElement.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if portfolioElement.updated %}{{ portfolioElement.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_portfolioelement_show', { 'id': portfolioElement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_portfolioelement_edit', { 'id': portfolioElement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_portfolioelement_new') }}">Create a new portfolioElement</a>
        </li>
    </ul>
{% endblock %}
