{% extends 'base.html.twig' %}

{% block body %}
    <h1>Portfolioelement</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolioElement.id }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ portfolioElement.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ portfolioElement.title }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if portfolioElement.created %}{{ portfolioElement.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if portfolioElement.updated %}{{ portfolioElement.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_portfolioelement_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_portfolioelement_edit', { 'id': portfolioElement.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
