<section class="informazioni-section full-width-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="light-title section-title">Blog</h1>
            </div>
        </div>
        <ul class="blog-article-list">
            {% for row in blogArticleArray|batch(3) %}
                <li class="row">
                    {% for blogArticle in row %}
                        <div class="col-md-4 blog-article-element">
                            <article class="blog-article-container">
                                <h1><a href="#">{{ blogArticle.title }}</a> <small class="blog-article-date">
                                        {{ blogArticle.created | localizeddate('none', 'none', 'it_IT', null, "dd MMMM yyyy") | capitalize }}
                                    </small></h1>
                                <p>{{ blogArticle.article | truncate(250, true, '...')}} <a href="#" class="read-all-link">Leggi tutto...</a></p>

                            </article>
                        </div>
                    {% endfor %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
