{% extends "base.html.twig" %}

{% block title %}Blog{{ parent() }}{% endblock %}
{% block body_classes %}blog-page {{ parent() }}{% endblock %}

{% block full_width_body %}
    {% include ':blog:blog_section.html.twig' %}
{% endblock %}
