{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogarticlesources list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Url</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for blogArticleSource in blogArticleSources %}
            <tr>
                <td><a href="{{ path('blogarticlesource_show', { 'id': blogArticleSource.id }) }}">{{ blogArticleSource.id }}</a></td>
                <td>{{ blogArticleSource.label }}</td>
                <td>{{ blogArticleSource.url }}</td>
                <td>{% if blogArticleSource.created %}{{ blogArticleSource.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if blogArticleSource.updated %}{{ blogArticleSource.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('blogarticlesource_show', { 'id': blogArticleSource.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('blogarticlesource_edit', { 'id': blogArticleSource.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogarticlesource_new') }}">Create a new blogArticleSource</a>
        </li>
    </ul>
{% endblock %}
