{% extends 'base.html.twig' %}

{% block body %}
    <h1>Blogarticlesource</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blogArticleSource.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ blogArticleSource.label }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ blogArticleSource.url }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if blogArticleSource.created %}{{ blogArticleSource.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{% if blogArticleSource.updated %}{{ blogArticleSource.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('blogarticlesource_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('blogarticlesource_edit', { 'id': blogArticleSource.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
