<section class="about-section full-width-section">
    <div class="dark-layer"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="light-title section-title">Informazioni</h1>
                <p>
                    Stevio Studio è un marchio ideato da Cristoforo Cervino nel 2009.
                    Si occupa essenzialmente della produzione e post-produzione di materiali audio visivi come spot,
                    videoclip e cortometraggi. Nel tempo ha avviato collaborazioni con altri professionisti del
                    settore come la stylist Keren Wogerbauer, il gruppo D-Unit specializzato in acrobatica e stunt e
                    il doppiatore professionale
                    Andrea De Nisco. Ha realizzato prodotti per Syncro, QMI srl, NiiProgetti srl e ha partecipato a
                    svariati concorsi di produzione video.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-7">
                <h2 class="light-title">Cristoforo Cervino
                    <small>Video Maker</small>
                </h2>
                <p>
                    Cristoforo Cervino nasce a Bari nel 1993 e risiede attualmente a Milano.
                    Fin da adolescente si appassiona alla grafica digitale, ai siti web e ai video.
                    Si diploma nel 2011 come perito informatico e, certificato CISCO CCNA Discovery, viene assunto
                    lo stesso anno da una società servizi informatici come web designer collaborando nella
                    realizzazione di siti come Sky ti porta al cinema, Sky ti porta allo stadio, Sansiro.net e
                    donjonilfilm.it.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolor nisi non praesentium
                    voluptate? Accusamus aspernatur assumenda eligendi expedita iste magnam necessitatibus
                    praesentium reprehenderit vitae? Consequatur consequuntur deserunt omnis provident.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto culpa eius maxime odio! Ab
                    aliquam aliquid aspernatur assumenda dolorum eaque illum in ipsa iste, laboriosam molestias
                    repellat sequi, sint! Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="light-title section-title">Rete</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2 class="light-title">Keren Wogerbauer
                    <br/><small>Fashion Stylist</small>
                </h2>
                <p>
                    Keren Wogerbauer nasce a Milano nel 1990 e risiede attualmente a Milano.
                    Sin da bambina sviluppa una vena creativa, che trova libero sfogo nel 2010 quando decide di
                    iscriversi al corso di Fashion Styling presso l’Istituto Marangoni di Milano. Nel 2012 inzia la
                    sua collaborazione con Stevio Studio.
                    Ottiene l’attestato di fashion stylist nel 2013 e continua a portare avanti i suoi progetti
                    moda, partecipando a concorsi fotografici e video contest.
                    <a href="http://www.kerenw.it/" target="_blank" class="btn btn-xs">Scopri di più <i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="light-title">D-UNIT
                    <br/><small>Martial Arts Stunt Team</small>
                </h2>
                <p>
                    I D-UNIT nascono nel 2004 dall’idea di Ivan, Loris e Mirco con l’obiettivo di fornire un
                    servizio professionale alle produzioni televisive/cinematografiche che necessitano di realizzare
                    scene che prevedano combattimenti, acrobatica e cadute. Il team attualmente è composto dai
                    cinque membri più una decina di freelancer ognuno con expertise differenti nell’ambito della
                    ginnastica, arti marziali, combattimento scenico, teatro e dello show business.
                    <a href="http://www.dunit.it" target="_blank" class="btn btn-xs">Scopri di più <i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="light-title">Andrea De Nisco
                    <br/><small>Doppiatore e voice over</small>
                </h2>
                <p>
                    Andrea de Nisco è un doppiatore e speaker italiano. Doppiatore di film, cartoni animati e
                    videogiochi, autore e regista teatrale, ha iniziato la propria attività nel 1983; vive e lavora
                    a Milano. È la voce di molti programmi Mediaset, Rai e Sky.
                    <a href="http://www.denisco.it" target="_blank" class="btn btn-xs">Scopri di più <i
                                class="fa fa-arrow-right" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
