{% extends "base.html.twig" %}

{% block title %}Informazioni{{ parent() }}{% endblock %}
{% block body_classes %}informazioni-page {{ parent() }}{% endblock %}

{% block full_width_body %}
    {% include ':about:about_section.html.twig' %}
{% endblock %}
